body{
    background-color: rgb(225, 207, 241);
}

hr {
    border-style: groove;
}



.container {
    background-color: white;
    max-width: 600px;
    padding: 20px 40px;
    padding-bottom: 50px;
    display: block;
    border: none;
    margin: 0 auto;
    margin-top: 25px;
    border-radius: 35px;
    box-shadow: 8px 8px 20px 30px rgba(0, 0, 255, .2);
}
.mainTitle, footer {
    text-align: center;
    font-size: 20px;
}

footer {
    padding-top: 20px;
}

.mainTitle {
    font-size: 60px;
}

#city {
display: block;
margin: 0 auto;
padding: 15px 200px;
font-size: 20px;
border: none;
background-color: rgb(241, 233, 248);
border-radius: 50px;
}

.cityLa, .citySydney, .cityTokyo {
    font-size: 35px;
    text-align: center;
}

.losAngelesTimeData, .sydneyTimeData, .tokyoTimeData {
    font-size: 30px;
    font-weight: 600;
    position: relative;
    left: 440px;
    top: -3px;
    
}

.tokyoDateData, .sydneyDateData, .losAngelesDateData {
    font-size: 19px;
    position: relative;
    left: 50px;
    top: 25px;
    font-weight: 600;
    opacity: 55%;
}
